
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin:0;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}
body{
    background-color: black;
}

.main{
    background-image: url("assets/images/bg.jpg");
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:  (100vw, 1200px);
    
}

.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    background-color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    margin: auto;
    height: 95px;
}
nav img{
    color: red;
    width: 148px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.btn1{
    background-color: transparent;
    padding: 0.25rem 0.7rem;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    width: auto;
    font-weight: 500;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.4,0,0.68,0.06);
    margin-right: 5px;
}
#btn2{
    background-color: red;
    font-family: "Poppins", serif;
    padding: 0.25rem 0.7rem;
    color: white;
    border: 0;
    border-color: transparent;
    border-radius: 4px;
    width: auto;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#btn2:hover{
    background-color: rgb(203, 18, 18);
}
.btn-gs{
    background-color: red;
    padding: 0.25rem 0.7rem;
    color: white;
    border: 0;
    border-color: transparent;
    border-radius: 4px;
    width: auto;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn-gs:hover{
    background-color: rgb(203, 18, 18);
}
.inp {
    padding: 7px 130px 8px 14px;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgb(23, 23, 23, 0.7);
    border: 1px solid rgba(251, 251, 251, 0.5);
    color: white;
    font-size: 14px;
    font-weight: 800;
}
.search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.hero{
    font-family: "Martel Sans", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28px;
    position: relative;
    height: 75%;
}
.hero> :first-child{
    font-size: 48px;
    font-weight: 900;
}
.hero> :nth-child(2){
    font-size: 48px;
    font-weight: 900;
}
.hero> :nth-child(3){
    font-size: 20px;
    font-family: "Martel Sans", serif;
    font-weight: 500;
    
}

.seperation{
    height: 6px;
    background-color: rgb(64, 64, 64);
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;

    align-items: center;
}
.secimg{
    position: relative;
  
}
.secimg img{
    position: relative;
    z-index: 10;
}
.secimg video{
    position: absolute;
    top: 98px;
    left: 74px;
   
    
}
.sectxt> :first-child{
    font-size: 48px;
    /* font-family: "poppins", serif; */
    font-weight: 700;
}
.sectxt> :nth-child(2){
    font-size: 24px;
    font-weight: bolder;
}
.sectxt{
    display: flex;
    flex-direction: column;

}

.second img{
    z-index: 10;
}
.secimg-2 video{
    position: absolute;
    top: 39px;
    left: 122px;
    width: 26vw;
 } 
 .fourth img{
    width: 91vh;
 }

 .faq{
    background-color: black;
    color: white;
 }

 .faq h2{
    padding: 34px;
    text-align: center;
    font-size: 36px;
    font-family: "Poppins", serif;
    font-weight: 600;


 }

 .faq .faqbox{
    background-color: #2d2d2d;
    padding: 20px;
    max-width: 60vw;
    margin: 20px auto;
    justify-content: space-between;
    display: flex;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
 }
 .faqbox :first-child{
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 400 !important;
 }

 .faqbox:hover{
    background-color: rgb(65, 65, 65);
 }
 footer{
    color:white;
    max-width: 60vw;
    margin: auto;
    margin: 25px auto;
 }
 footer span{
    font-weight: 400;
 }
 .footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 25px auto;
    
 }
 .num{
    text-decoration: underline;
    cursor: pointer;    
 }
 .footer-item{
    display: flex;
    flex-direction: column;
    

 }
 .footer-item a{
    color: white;
    margin: 5px 0px;
    font-weight: 400;
 }
 .last{
    margin: 25px 0px;
 }